<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kryex.phonerepair.mapper.UserMapper">
    <select id="list" resultType="cn.kryex.phonerepair.entity.po.User">
        SELECT user.* FROM yjx_user user
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                    user.user_name LIKE CONCAT('%', #{searchKeyword}, '%') OR
                    user.user_email LIKE CONCAT('%', #{searchKeyword}, '%') OR
                    user.user_phone LIKE CONCAT('%', #{searchKeyword}, '%')
                )
            </if>
        </where>
        ORDER BY ${orderBy}
    </select>

    <update id="updateById" parameterType="cn.kryex.phonerepair.entity.po.User">
        UPDATE yjx_user
        SET user_name = #{userName},
            user_email =#{userEmail},
            role_id = #{roleId},
            user_bio =#{userBio},
            user_phone =#{userPhone}
        WHERE user_id = #{userId}
    </update>


</mapper>